<!DOCTYPE html>
<html class="no-js" lang="zxx" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hi, there! 👋🏻 Here, you can find about one of Shehan's Machine Learning projects. Shehan Sanjula is an information security enthusiast who is reading a degree in cyber security at Sri Lanka Institute of Information Technology.">
    <meta name="author" content="Ranasinghe Arachchige Shehan Sanjula">
    <meta name="keywords" content="shehan sanjula, shehan, sanjula, R. A. Shehan Sanjula, Ranasinghe Arachchige Shehan Sanjula, shehansanjula, information security analyst, sliit, cybersecurity, machine learning projects, spam filtering">
    <meta property="og:title" content="Spam Email Filtering System!!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shehansanjula.github.io">
    <meta property="og:image" content="https://raw.githubusercontent.com/ShehanSanjula/shehansanjula.me-public-beta-release/main/images/shehan_logo_1000px.png">
    
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="/static/css/plugins.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/jquery.appear.js"></script>
    <script src="/static/js/main.js"></script>
    
    <script type="text/javascript">
        particlesJS('particles-js', {
            "particles": {
                "number": {
                    "value": 50,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#888"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#888"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 3,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#888",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true,
            "config_demo": {
                "hide_card": false,
                "background_color": "#b61924",
                "background_image": "",
                "background_position": "50% 50%",
                "background_repeat": "no-repeat",
                "background_size": "cover"
            }
        });
    </script>
</head>
<body data-spy="scroll" data-target=".navigation_area">
<div id="preloader">
    <div class="loader_line"></div>
</div>
<header id="header" class="site_header">
    <div class="site_navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navigation_area">
                        <a class="navbar-brand site_logo">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse mainmenu_area" id="navbarNav">
                                <ul class="navbar-nav mainmenu">
                                    <!-- Add your navigation items here -->
                                </ul>
                            </div>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="sticky_header"></div>
<div class="site_wrapper bg_white">
    <section id="home" class="section_scroll welcome_area" data-scroll-index="0">
        <div class="bg_overlay bg_image page_cover"
             style="background-image:url('/static/images/bg/2.webp')"></div>
        <div id="particles-js"></div>
        <div class="home_wrapper_info">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <!-- Your content for the home section -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="section_scroll" data-scroll-index="1">
        <div class="about_area pb-110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="about_content text-center">
                            <!-- Your content for the about section -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="section_scroll blog_area ptb-110 grad1" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h3><span>Spam Email Filtering System</span></h3>
                        <h2 class="title">Spam<span> Detector</span></h2>
                    </div>
                </div>
            </div>
            <h1 class="text-center text-success mt-5">Spam Detection in Email using Machine Learning</h1>
            <form action="{{url_for('predict')}}" method="POST">
                <div class="form-group col-md-10 ml-5">
                    <label class="mt-5" for="comment"><b>Enter the content of your E-mail</b></label>
                    <textarea class="form-control" name="comment" id="comment" rows="5" cols="50"
                              placeholder="Copy your content from anywhere then press Ctrl+V to paste the content here."></textarea>
                </div>
                <div align="center">
                    <button class="btn btn-default btn-submit" type="submit">Predict</button>
                </div>
            </form>
            <br><br>
            <!-- Add your content for the blog section -->
        </div>
    </section>
    <!-- Add more sections as needed -->
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Your footer content -->
            </div>
        </div>
    </div>
</footer>
</body>
</html>
